@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <TopBar />
        <article class="content">
            @Body
        </article>
    </main>
</div>


